.footer{
    clear:both;
    color:#aaa;
    position:relative;
    z-index:1;
    margin-left: 215px;
    margin-right: 20px;
    padding: 20px 0 30px;
    border-top: 2px solid #eee;
    font-size: 12px;
}

.footer a{
    color:#aaa;
}
.footer a:hover{
    color: #999;
}

.footer{
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    text-align: center;
    background-color: #444;
}
